* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  margin: auto;
  margin-top: 10%;
  padding: 15px;
  padding-bottom: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 10px;
}

.topic {
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  color: rgb(3, 112, 202);
}

.button {
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(3, 112, 202);
  border-radius: 5px;
  color: aliceblue;
  border: none;
  border: 1px solid rgb(3, 112, 202);
}

.accordion {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  width: 500px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.question {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.answer {
  margin-top: 20px;
  display: grid;
  gap: 10px;
}

hr {
  width: 100%;
  height: 2px;
  border: 0;
  background-color: rgb(3, 112, 202);
}

.button:hover {
  margin-bottom: 20px;
  padding: 10px;
  background-color: aliceblue;
  color: rgb(3, 112, 202);
  border: 1px solid rgb(3, 112, 202);
}
